---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Compass & Style | Lorem ipsum dolor sit amet consectetur, adipisicing elit!"
>
  <header>
    <h1 class="kenfolg">Compass & Style</h1>
  </header>

  <main></main>
</Layout>
