---
import Logo from "../components/Logo.astro";
let year = new Date().getFullYear();
---

<footer>
  <hr />

  <div class="footer-wrapper">
    <div class="footer-links">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blog">Blog</a></li>
      </ul>
    </div>

    <div class="footer-logo">
      <Logo />
      <h3>Compass & Style</h3>
    </div>

    <div class="footer-links-right">
      <ul>
        <li><a href="/donate">Donate</a></li>
        <li><a href="/privacy-policy">Privacy policy</a></li>
        <li><a href="/terms">Terms & Conditions</a></li>
      </ul>
    </div>
  </div>

  <div class="lower-footer-wrapper">
    <div class="social-links">
      <a href="https://www.instagram.com/Compass & Style/" target="_blank">
        <img src="instagram.svg" alt="instagram-link" />
      </a>

      <a href="https://Compass & Style.t.me" target="_blank">
        <img src="telegram.svg" alt="telegram-link" />
      </a>

      <a href="mailto:hello@Compass & Style.com" target="_blank">
        <img src="email.svg" alt="send-email" />
      </a>

      <a href="https://facebook.com/Compass & Style" target="_blank">
        <img src="facebook.svg" alt="facebook-link" />
      </a>
    </div>

    <div class="copyright">
      <p>© Compass & Style {year}</p>
    </div>
  </div>
</footer>

<style>

  .footer-logo svg {
    margin-right: 0px;

  }
  .footer-wrapper {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
  }

  .footer-links-right {
    text-align: end;
  }

  .footer-links ul,
  .footer-links-right ul {
    padding: 0px;
  }
  .footer-links ul li,
  .footer-links-right ul li {
    padding: 0px;
    padding-bottom: 1rem;
    list-style: none;
  }

  .footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .footer-logo h3 {
    margin: 0px;
    padding: 0px;
  }
  .home-img {
    margin: 1em;
    width: 7vw;
  }
  .footer-img {
    width: 2vw;
  }

  footer a {
    box-shadow: none;
  }
  footer a:active {
    box-shadow: none;
    text-decoration: none;
  }
  footer a:hover {
    color: var(--color-text);
    box-shadow: none;
  }

  .lower-footer-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .social-links {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .social-links img {
    width: 20px;
  }

  @media only screen and (max-width: 900px) {
  }
</style>
