---
---

<a href="/">
  <svg id="footer-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 620.53 620.59"
    ><defs
      ><style>
        .cls-1,
        .cls-2 {
          fill: var(--color-text);
        }
        .cls-2 {
          font-size: 38.43px;
          stroke: var(--color-text);
          stroke-miterlimit: 5;
          stroke-width: 2px;
          font-family: Inter-Regular, Inter;
        }
      </style>
    </defs><g id="Layer_2" data-name="Layer 2"
      ><g id="compass"
        ><g id="rest_of_the_compass" data-name="rest of the compass"
          ><path
            id="path4"
            class="cls-1"
            d="M270.19,366.49c-1.4-.7-2.8-.7-3.5.7l-108.2,149.9c-.7,1.4-.7,2.8,0,3.5.7,0,.7.7,1.4.7s1.4-.7,2.1-.7L270.19,370C271.59,369.29,270.89,367.19,270.19,366.49Z"
          ></path><path
            id="path6"
            class="cls-1"
            d="M350.69,254.09c.7,0,.7.7,1.4.7s1.4-.7,2.1-.7l108.2-150.6c.7-1.4.7-2.8-.7-3.5s-2.8-.7-3.5.7l-107.5,149.9C349.29,251.29,350,253.39,350.69,254.09Z"
          ></path><path
            id="path8"
            class="cls-1"
            d="M250.79,270.09c.7,0,.7.7,1.4.7s1.4-.7,2.1-.7c.7-1.4.7-2.8-.7-3.5l-149.9-108.2c-1.4-.7-2.8-.7-3.5.7s-.7,2.8.7,3.5Z"
          ></path><path
            id="path10"
            class="cls-1"
            d="M370.09,350.59c-1.4-.7-2.8-.7-3.5.7a1.73,1.73,0,0,0,.7,2.8l150.6,108.2c.7,0,.7.7,1.4.7s1.4-.7,2.1-.7c.7-1.4.7-2.8-.7-3.5Z"
          ></path><polygon
            id="polygon12"
            class="cls-1"
            points="251.78 526.88 246.69 560.56 261.26 529.83 251.78 526.88"
          ></polygon><polygon
            id="polygon14"
            class="cls-1"
            points="356.77 90.1 366.47 92.1 368.57 59.5 356.77 90.1"
          ></polygon><polygon
            id="polygon16"
            class="cls-1"
            points="89.79 267.29 91.89 257.59 59.99 256.19 89.79 267.29"
          ></polygon><polygon
            id="polygon18"
            class="cls-1"
            points="529.47 368.77 562.07 370.87 531.57 359.07 529.47 368.77"
          ></polygon><polygon
            id="polygon20"
            class="cls-1"
            points="94.69 449.79 124.49 435.89 118.89 427.59 94.69 449.79"
          ></polygon><polygon
            id="polygon22"
            class="cls-1"
            points="501.89 192.99 526.89 170.79 497.09 184.69 501.89 192.99"
          ></polygon><polygon
            id="polygon24"
            class="cls-1"
            points="193.19 118.79 171.69 94.49 184.89 124.39 193.19 118.79"
          ></polygon><polygon
            id="polygon26"
            class="cls-1"
            points="428.39 501.79 449.89 526.09 436.69 496.29 428.39 501.79"
          ></polygon><path
            id="path28"
            class="cls-1"
            d="M616.39,260.39c-13.2-81.9-57.6-153.3-124.9-201.9s-149.2-68-231.1-54.1c-81.9,13.2-153.3,57.6-201.9,124.9s-68,149.2-54.1,231.1c13.2,81.9,57.6,153.3,124.9,201.9,53.4,38.2,115.9,58.3,180.4,58.3a316.16,316.16,0,0,0,50.7-4.2C529,589.19,644.19,429,616.39,260.39Zm-258.1,342.7c-78.4,12.5-156.8-5.6-221.3-52a294.06,294.06,0,0,1-119.4-192.9c-12.5-78.4,5.6-156.8,52-221.3S184.79,30,262.49,17.59a284.86,284.86,0,0,1,48.6-4.2c61.8,0,121.4,19.4,172.8,56.2,64.5,46.5,106.9,115.2,119.3,192.9C629.59,424.09,519.29,576.79,358.29,603.09Z"
          ></path><path
            id="path30"
            class="cls-1"
            d="M432.59,179.19a4.88,4.88,0,1,0-6.9,6.9c27.8,25.7,45.1,59,51.3,96.4a170.39,170.39,0,0,1-20.1,111.7,4.87,4.87,0,0,0,2.1,6.9c.7.7,1.4.7,2.8.7A4.35,4.35,0,0,0,466,399a175.75,175.75,0,0,0,21.5-118A186,186,0,0,0,432.59,179.19Z"
          ></path><path
            id="path34"
            class="cls-1"
            d="M191.09,443.49a5.07,5.07,0,0,0,7,0,4.56,4.56,0,0,0-.7-6.9c-28.4-25.7-47.9-60.4-54.1-98.5s.7-76.3,19.4-110.3a5.1,5.1,0,0,0-9-4.8,180,180,0,0,0-20.8,116.6C140.39,379,160.59,416.49,191.09,443.49Z"
          ></path><rect
            id="rect36"
            class="cls-1"
            x="253.62"
            y="58.49"
            width="28.4"
            height="28.4"
            transform="translate(-8.9 51.79) rotate(-10.86)"></rect><polygon
            id="polygon38"
            class="cls-1"
            points="530.44 250.16 536.85 287.05 570.49 261.79 530.44 250.16"
          ></polygon><circle
            id="circle40"
            class="cls-1"
            cx="73.79"
            cy="350.59"
            r="18"></circle><path
            id="path32"
            class="cls-1"
            d="M314.39,131.29a247.81,247.81,0,0,0-32.6,2.1c-40.2,6.2-75.6,25.7-103.4,55.5-2.1,2.1-1.4,4.9,0,6.9a5.07,5.07,0,0,0,7,0,166.85,166.85,0,0,1,97.1-52.7,197.82,197.82,0,0,1,29.1-2.1A122.44,122.44,0,0,1,329,142c22.43,3.11,43.85,9.44,63.25,20.54a5.1,5.1,0,1,0,4.8-9c-21.5-11.8-45.1-19.46-68.7-21.5C322.39,131.47,319.09,131.31,314.39,131.29Zm-26.5,346.32c-22.1-3.49-43.6-10.52-63-22.32a5.1,5.1,0,1,0-4.8,9c20.8,12.5,44.3,20,68.15,23.16a147.31,147.31,0,0,0,22.15,1.84,186.94,186.94,0,0,0,28.4-2.1c41-6.9,78.5-27,105.6-58.2a4.9,4.9,0,0,0-7.6-6.2,169.29,169.29,0,0,1-99.2,54.8c-10.4,1.4-20.81,2.63-31.2,2.1A134.67,134.67,0,0,1,287.89,477.61Z"
          ></path>
        </g><path
          id="footer-needle"
          class="cls-1"
          d="M337.59,313.89v-2.8c-2.53-66-7-131.84-9.9-197.8l.7-2.1a8.88,8.88,0,0,0-.7-4.2,3.85,3.85,0,0,0-3.5-2.1h-.7a10,10,0,0,0-4.2,1.4,5.92,5.92,0,0,0-1.4,4.2v2.1c-13.54,65.87-25.73,129-38.2,193.5v2.8C291,529,287.59,472.21,288.79,508l.7,3.5a8.88,8.88,0,0,0,.7,4.2,3.85,3.85,0,0,0,3.5,2.1h1.4a5.35,5.35,0,0,0,3.5-1.4,5.92,5.92,0,0,0,1.4-4.2v-2.1c13.61-65.18,25.28-130.76,37.6-196.2Zm-27.2-16.8c6.2.7,11.1,5.6,10.4,11.8l-6.2-.7c0-2.8-2.1-5.6-4.9-5.6s-5.6,2.1-5.6,4.9l-6.2-.7C298.59,302,304.19,297.09,310.39,297.09Zm-20.1,11.1h7.6c0,6.2,4.2,11.1,10.4,11.1,6.2.7,11.1-4.2,11.8-9.7l7.6.7v.7h0L298,466.39l-7.6-157.5c-.1.7-.1,0-.1-.7Z"
        ></path><text class="cls-2" transform="translate(332.47 557.13)">S</text
        >
      </g>
    </g>
  </svg>
</a>

<style>

  a {
    color: var(--color-text);
  }
  svg {
    width: 5em;
  }
  .needle-hover {
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    transform-origin: 50% 50%;
    display: inline-block;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(90deg);
    }
  }
</style>

<script>
  const compass = document.getElementById("footer-logo");

  const needle = document.getElementById("footer-needle");

  function hover() {
    compass.addEventListener("mouseenter", (e) =>
      needle.classList.add("needle-hover")
    );
    compass.addEventListener("mouseleave", (e) =>
      needle.classList.remove("needle-hover")
    );
  }

  hover();
</script>
